In [3]:
# imports
#General imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [4]:
data = pd.read_csv("admissions.csv", index_col=0)

In [6]:
data.head()

         gre   gpa  prestige
admit
0      380.0  3.61       3.0
1      660.0  3.67       3.0
1      800.0  4.00       1.0
1      640.0  3.19       4.0
0      520.0  2.93       4.0

In [7]:
data.shape

(400, 3)

In [14]:
data['prestige'].max()

4.0