# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [4]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('ozone.csv'))

In [2]:
print

Print the column names of the dataset to the screen, one column name per line.

In [5]:
data.head(0)

Empty DataFrame
Columns: [Ozone, Solar.R, Wind, Temp, Month, Day]
Index: []

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [6]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [10]:
data['Ozone'].count()

116

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [18]:
(data['Ozone'])[47]

37.0

How many missing values are in the Ozone column of this data frame?

In [27]:
pd.isnull(data['Ozone']).sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [28]:
(data['Ozone']).mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [7]:
data[(data.Ozone >31) & (data.Temp >90)].mean()

Ozone       89.5
Solar.R    212.8
Wind         5.6
Temp        93.4
Month        8.2
Day         14.5
dtype: float64

What is the mean of "Temp" when "Month" is equal to 6?

What was the maximum ozone value in the month of May (i.e. Month = 5)?

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas